<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Description</th>
      <th>Completed?</th>
      <th>Date Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @index %></td>
      <td><%= @name %></td>
      <td><%= @description %></td>
      <td>Yes</td>
      <td><%= @date_completed %></td>
    </tr>

  </tbody>
</table>
