<h1>Task List</h1>
<a href="/new_task"><p>Add a new task</p></a>

<% if @all_records %>
	<table>
		<thead>
			<tr>
				<th>Index</th>
				<th>Name</th>
				<th>Description</th>
				<th>Date Completed</th>
			</tr>
		</thead>
		<tbody>
			<% @all_records.each do |index, name, description, date_completed| %>
				<tr>
					<td><%= index %></td>
					<td><%= name %></td>
					<td><%= description %></td>
					<td><%= date_completed %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
